<section class="phx-hero">
  <form phx-submit="create_post">
    <input type="text" name="content" value="<%= @content %>" placeholder="Submit post..."/>
    <button type="submit" phx-disable-with="Submitting...">Submit</button>
  </form>
  <div class="posts">
    <ul>
      <%= for post <- @posts do %>
        <li><%= post.content %></li>
      <% end %>
    </ul>
  </div>
</section>
