<%= if @current_user do %>
<div class="page-header">
  <div class="current-user"><%= "Welcome, #{@current_user.first_name}" %></div>
  <div class="user-menu">
    <div><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></div>
    <div><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></div>
  </div>
</div>
<% end %>
